/* Estilos generales */
body {
    background-color: #18191A;
    color: white;
}


/* Clases necesarias */
.text-placeholder::placeholder{
    color: lightgray;
}

.wh-img {
    width: 35px !important;
    height: 35px !important;
}
